<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h admin</name>
<service>
<type>_http._tcp</type>
<port>9090</port>
</service>
</service-group>

<service-group>
<name replace-wildcards="yes">%h plex</name>
<service>
<type>_http._tcp</type>
<port>32400</port>
<txt-record>path=/manage</txt-record> 
</service>
</service-group>
